doctype html 
html 
  head 
    block head 
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon-32x32.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap')
      title NumeroPedia | #{title}

    body
      block content
      
      script(type="module" src='/js/bundle.js')