extends base

block content
      header 
        a
          img.logo(src='/img/logo.png' alt='Numerpedia Logo')
          

          
      div.main_container
        div.formNote
          h2.welcomeNote NumeroPedia uses your Mulank number, Destiny number, Numeroscope to generate your Numerology report.
          h5.enterDetails Please enter below details to know your DOB says about you.

          div.detailsForm
            form.form.form--details(id="detailsForm")
              div.detailsEntry
                div.formSet
                  label.label(for="fullName") Full Name:
                  input.input(type="text", id="fullName", name="fullName",placeholder='Enter your full name here..', required)

                div.formSet
                  label.label(for="dob") Date of Birth:
                  input.input(type="date", id="dob", name="dob", required)

                div.formSet
                  label.label Gender:
                  select.input(name="gender", id="gender", required)
                    option(value="male") Male
                    option(value="female") Female
                
              div.submit
                button.btn(type="submit") Get my Report
        
        div.conceptImage
          img.numbers_img(src='/img/concept.jpg' alt='numbers concept image')

      